# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Test data
/test/testdata/gb-test-roms/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binary
/gameboy-go
bin/
roms/*

# Docs
docs/*.txt
docs/*.pdf
